button[type="buyButton"].active{
    max-width: 168px;
    color: black;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
    font-family: Montserrat, sans-serif;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-right: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);

    width: 160px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #40F48B;
    overflow: visible;
    border: 1px solid grey; 

  }

  button[type="buyButton"].inactive{
    max-width: 168px;
    color: black;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
    font-family: Montserrat, sans-serif;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-right: 10px;
    width: 160px;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    overflow: visible;
    border: 1px solid grey; 
    transition: ease-in 0.3s;

  }


  button[type="buyButton"].inactive:hover{
    color: #40F48B;

  }


  button[type="sellButton"].inactive:hover{
    color: red;

  }


  button[type="sellButton"].inactive{
    max-width: 168px;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
    font-family: Montserrat, sans-serif;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 160px;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    overflow: visible;
    border: 1px solid grey; 
    transition: ease-in 0.3s;


  }

  button[type="sellButton"].active{
    max-width: 168px;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 160px;
    border-radius: 8px;
    cursor: pointer;
    background-color: red;
    overflow: visible;

    border: 1px solid grey;    
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    transition: ease-in 0.3s;


  }



  button[type="purchaseMKTButton"].active{
    display: flex;
      flex-direction: column;
      max-width: 336px;
      height: 55px;
      border-radius: 8px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 12px;
      padding-left: 12px;
      background-color: rgba(64, 244, 139, 1);
      align-items: center;
      cursor: pointer;      
      border: 1px solid rgba(64, 244, 139, 1);  
      transition: ease-in 0.3s;




  }

  button[type="purchaseMKTButton"].inactive{
    display: flex;
      flex-direction: column;
      max-width: 336px;
      height: 55px;
      border-radius: 8px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 12px;
      padding-left: 12px;
      background-color: red;
      align-items: center;
      cursor: pointer;      
      border: 1px solid grey;    
      transition: ease-in 0.3s;

  }


  text[type="purchaseMKT"].active{
    color: rgba(26, 26, 26, 1);
    font-size: 20px;
    letter-spacing: 0%;
    width: 100px;
    margin-top: 5px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    transition: ease-in 0.3s;


  }

  text[type="purchaseMKT"].inactive{
    color: white;
    font-size: 20px;
    letter-spacing: 0%;
    width: 100px;
    margin-top: 5px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    transition: ease-in 0.3s;


  }



div[type="buyPercent25"].active{
  max-width: 84px;
  color: rgba(26, 26, 26, 1);
  font-size: 18px;
  letter-spacing: 0%;
  text-align: center;
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 22px;
  padding-left: 22px;
  background-color: rgba(64, 244, 139, 1);
  cursor: pointer;
  transition: ease-in 0.3s;

}

div[type="buyPercent25"].inactive{
  max-width: 84px;
  color: white;
  font-size: 18px;
  letter-spacing: 0%;
  text-align: center;
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 22px;
  padding-left: 22px;
  background-color: red;
  cursor: pointer;
  transition: ease-in 0.3s;

}

.mask{
  color: rgba(52, 52, 52, 0.5) ;
}

.walletMask{
  display: none;
}






 